*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
}

#main-div{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5vw;
    margin-bottom: 10vh;
}
#main-div>img{
    height: 40vh;
    width: 28vw;
}